body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  line-height: 24px;
  width: 1440px;
  height: 3300px;
}

a {
  text-decoration: none;
}

.logo-style {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.color-studio-logo {
  color: #2e2f42;
}

.color-studio-logo-footer {
  color: #f4f4fd;
}

ul,
ol {
  list-style-type: none;
}

.nav-styles-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.nav-styles-link:hover,
.nav-styles-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.address-styles-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.address-styles-link:hover,
.address-styles-link:focus {
  color: #404bbf;
}

.main-section-style {
  background-color: #2e2f42;
}

.header-style {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.button-style {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-style:hover,
.button-style:focus {
  background-color: #404bbf;
}

.third-header {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.heading-paragraph {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.second-degree-temporary-header {
  color: #2e2f42;
}
.our-team-section-style {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

.our-team-main-header-section-style {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-top: 120px;
}

.our-team-third-header-section-style {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-team-paragraph-section-style {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-portfolio-main-header-section-style {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-top: 120px;
}

.our-portfolio-third-header-section-style {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-paragraph-section-style {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-styles {
  background-color: #2e2f42;
}

.footer-paragraph {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}
header {
  width: 1440px;
  height: 72px;
  display: flex;
  align-items: center;
}

.nav-page {
  display: flex;
}

.logo-style-position {
  margin: 24px 76px 24px 156px;
}

.nav-style {
  display: flex;
  gap: 40px;
  margin: 24px;
}

.address-style-position {
  margin-left: 332px;
  display: flex;
  align-self: flex-end;
  gap: 40px;
}

.main-page {
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-style-position {
  width: 496px;
  height: 120px;
  margin-bottom: 42px;
}

.button-style {
  width: 169px;
  height: 56px;
}

.button-style-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-page {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.text-position {
  width: 264px;
  height: 104px;
}

.third-section {
  width: 1440px;
  height: 732px;
  background-color: #f4f4fd;
}

.team-card-style-position {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}

.team-card-style {
  width: 264px;
  height: 380px;
}

.our-team-main-header-section-style-position {
  display: flex;
  justify-content: center;
  align-content: center;
}
.text-card-position {
  width: 264px;
  height: 120px;
  gap: 8px;
}

.team-item {
  width: 264;
  height: 380;
}

.our-portfolio-main-header-section-style-position {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 120px;
  margin-bottom: 72px;
}

.potrfolio-card-position {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.portfolio-card {
  margin-bottom: 48px;
  border: 1px solid #e7e9fc;
}

.text-carts-style-position {
  padding-left: 16px;
  gap: 8px;
}

footer {
  width: 1440px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
.footer-paragraph {
  width: 264px;
  height: 72px;
}
.footer-styles-position {
  margin-top: 100px;
  margin-left: 156px;
}
